html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}

footer {
    background-color: #f1f1f1; /* Color de fondo del footer */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

main {
    flex: 1;
}

a {
    color: #fff;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.btn-primary {
    background-color: #3700B3;
    color: #fff;
    border-color: #3700B3;
}

.btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: #3700B3;
}

.btn-danger {
    color: #CF6679;
    background-color: transparent;
    border-color: #CF6679;
}

.btn-danger:hover {
    color: #fff;
    background-color: #CF6679;
    border-color: #CF6679;
}

.btn-warning {
    color: #BB86FC;
    background-color: transparent;
    border-color: #BB86FC;
}

.btn-warning:hover {
    color: #000;
    background-color: #BB86FC;
    border-color: #BB86FC;
}

.navbar.bg-light {
    background-color: greenyellow !important;
}

.bg-dark {
    background-color: #9933cc !important;
}

.perfil-container {
    display: flex;
    align-items: flex-start;
}

.perfil-avatar {
    flex: 0 0 auto;
    margin-right: 20px; 
}

.perfil-avatar img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.perfil-info {
    flex: 1;
}


